
@{
    ViewData["Title"] = "AddNewAddress";
}

<h2>AddNewDeliveryAddress</h2>
@model UserAddressDetailsViewModel
<div class="container">
	<form asp-action="AddNewAddress" asp-controller="User" method="post">

		<div class="row form-group justify-content-around bg-white p-3  shadow-sm">
			<label class="col" asp-for="@Model.DeliveryAddress"></label>
			<input class="form-control" asp-for="@Model.DeliveryAddress" type="text" />
			<span asp-validation-for="DeliveryAddress"></span>
		</div>
		<div class="row form-group justify-content-around bg-white p-3 shadow-sm">
			<label class="col" asp-for="@Model.PostCode"></label>
			<input class="form-control" asp-for="@Model.PostCode" type="text" />
			<span asp-validation-for="PostCode"></span>
		</div>

		<div class="row form-group  justify-content-around bg-white p-3 shadow-sm">
			<label class="col" asp-for="@Model.State"></label>
			<label asp-for="@Model.State"></label>
			<select asp-for="@Model.State" asp-items="@Html.GetEnumSelectList<AddressEnum>()" class="custom-select">
				<option selected="selected">Your State Address: </option>

			</select>
			<span asp-validation-for="State"></span>

		</div>
		<button type="submit">Add</button>

	</form>


</div>