@model UserCartViewModel
@{
	ViewData["Title"] = "Cart";
}


<div class="container">
	<h2 class="text-center">@User.Identity.Name's Cart</h2>
	<div class="d-flex flex-column flex-wrap">


		@{
			if (Model.mapCartDatas != null)
			{

				foreach (var item in Model.mapCartDatas)
				{

		<div class="d-flex flex-row flex-wrap justify-content-center bg-white rounded shadow m-2 p-3 align-items-center">
			<p class="col-sm-auto text-center">@item.HamperName</p>
			<form class="form-inline col-sm-auto" method="post" asp-controller="User" asp-action="UpdateCartItem">
				<p class="col-sm-auto pt-3 text-center">@{decimal price = (item.Cost * item.Quantity);} @price.ToString("C")</p>

				<div class="d-flex flex-row align-content-center">
					
						<label class="pt-1 pr-2" asp-for="@Model.Quantity"></label>
						<input hidden asp-for="@item.HamperId" name="id" />
						<input class="form-control w-50 mr-2" asp-for="@item.Quantity" type="number" name="q" />
						<button type="submit" name="edit" class="btn btn-primary">Edit Item</button>
				
				</div>	

			</form>
			<div class="d-flex flex-row justify-content-center m-sm-0 m-2">
				<form class="ml-sm-2" asp-action="DeleteCartItem" asp-controller="User" asp-route-id="@item.HamperId">
					<input hidden asp-for="@item.HamperId" />
					<button class="btn btn-danger" type="submit">Delete</button>
				</form>
			</div>
					</div>

				}
					<form class="ml-auto mr-auto" asp-action="PurchaseCart" asp-controller="User" asp-route-id="@Model.AddressId" method="post">


						<div class="row form-group justify-content-center">
							@{ if (Model.Addresses != null)
							{
								<select class="custom-select" asp-items="@Model.Addresses" asp-for="AddressId"></select>
							}
							}


						</div>

						<button class="btn btn-success ml-4" type="submit">Purchase</button>


					</form>

				<h3>
					Total @{
						decimal cost = 0;
						for (int i = 0; i < Model.mapCartDatas.Count; i++)
						{

							cost += ((Model.mapCartDatas[i].Cost * Model.mapCartDatas[i].Quantity));
						}
					}  @cost.ToString("C")
				</h3>


			}

		}


	</div>


</div>
