@model UserPasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";

}

<h2 class="text-center">Change Password</h2>
<div class="row justify-content-center p-3">

	<form class="w-75 card p-3" method="post" asp-controller="User" asp-action="ChangePassword">
		<div asp-validation-summary="ModelOnly"></div>

		<div class="form-group">
			<label asp-for="@Model.OldPassword"></label>
			<input asp-for="@Model.OldPassword" class="form-control">
			<span asp-validation-for="OldPassword"></span>
		</div>

		<div class="form-group">
			<label asp-for="@Model.NewPassword"></label>
			<input asp-for="@Model.NewPassword" class="form-control">
			<span asp-validation-for="NewPassword"></span>
		</div>

		<div class="form-group">
			<label asp-for="@Model.ConfirmNewPass"></label>
			<input class="form-control" asp-for="@Model.ConfirmNewPass" />
			<span asp-validation-for="ConfirmNewPass"></span>
		</div>

		<button class="col-auto btn btn-primary mr-2" type="submit">Change</button>
		@Html.AntiForgeryToken()
		@Html.ActionLink("Go Back", "Details", "User", new object { }, new { @class = "btn btn-danger" })

	</form>


</div>
