
@{
    ViewData["Title"] = "UpdateAddressDetails";
}
@model UserAddressDetailsViewModel
<h2>UpdateDeliveryAddress</h2>

<div class="container">
	<form asp-controller="User" asp-action="UpdateAddressDetails" method="post">
		<input hidden asp-for="AddressId" />
		<div class="row form-group justify-content-around bg-white p-3  shadow-sm">
			<label class="col" asp-for="@Model.DeliveryAddress"></label>
			<input class="form-control" asp-for="@Model.DeliveryAddress" type="text" />
			<span asp-validation-for="DeliveryAddress"></span>
		</div>
		<div class="row form-group justify-content-around bg-white p-3 shadow-sm">
			<label class="col" asp-for="@Model.PostCode"></label>
			<input class="form-control" asp-for="@Model.PostCode" type="text" />
			<span asp-validation-for="PostCode"></span>
		</div>

		<div class="row form-group  justify-content-around bg-white p-3 shadow-sm">
			<label class="col" asp-for="@Model.State"></label>
			<label asp-for="@Model.State"></label>
			<select asp-for="@Model.State" asp-items="@Html.GetEnumSelectList<AddressEnum>()" class="custom-select">
				<option selected="selected">Your State Address: </option>

			</select>
			<span asp-validation-for="State"></span>

		</div>

		<button class="btn btn-primary" type="submit">Edit</button>
		@Html.ActionLink("Cancel", "Details", "User", new object { }, new { @class = "btn btn-danger" })
	</form>


</div>