
@model HamperDetailsViewModel

@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <div class="row d-flex flex-column bg-white shadow p-2">

        <h2 class="text-center">Hamper Details: </h2>

        <div class="d-flex flex-row justify-content-around pb-2">
            <span class="border border-light col-md"> Hamper Name: </span>
            <span class="col-md"> @Model.Name </span>
        </div>
        <div class="d-flex flex-row justify-content-around pb-2">
            <span class="border border-light col-md"> Hamper Category: </span>
            <div class="col-md"> 
            <
            @Model.Category </div>
        </div>
        <div class="d-flex flex-row justify-content-around pb-2">
            <span class="border border-light col-md">  Hamper Details: </span>
            <div class="col-md">
                <ul class="list-group list-group-flush">
                    @{
                        foreach (var item in Model.Products)
                        {

                            <li class="pl-0 list-group-item"> @item.ProductName @item.Quantity  @item.ProductSizeType</li>



                        }
                    }
                </ul>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-around pb-2">
            <span class="col-md border border-light"> Hamper Cost: </span>
            <span class="col-md"> @Model.Cost.ToString("C") </span>
        </div>
    </div>
    <div class="row justify-content-center">

        <div class="col-sm-6 pt-2 justify-content-center">

            @{
                <img class="img-fluid" src="/Home/ViewImage/@Model.ImageId" />
            }
        </div>
    </div>
   
</div>



