
@model HamperDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="container">
	<h2 class="text-center">Hamper Details: </h2>
	<div class="row justify-content-center">


		<div class="d-inline-flex flex-column bg-white shadow p-2 mt-3">



			<div class="d-flex flex-row pb-2">
				<span class="col-md-auto"> Hamper Name: </span>
				<span class="col-md-auto"> @Model.Name </span>
			</div>
			<div class="d-flex flex-row  pb-2">
				<span class="col-md-auto pl-0 ml-0"> Hamper Category: </span>
				<div class="col-md-auto">

					@Model.Category
				</div>
			</div>
			<div class="d-flex flex-row">
				<span class=" col-md-auto">  Hamper Details: </span>
				<div class="col-md-auto">
					<ul class="list-group list-group-flush">
					
						@{
							foreach (var item in Model.Products)
							{

								<li class="pl-0 list-group-item"> @item.ProductName @item.Quantity  @item.ProductSizeType</li>



							}
						}
					</ul>
				</div>
			</div>
			<div class="d-flex flex-row pb-2">
				<span class="col-md-auto"> Hamper Cost: </span>
				<span class="col-md-3"> @Model.Cost.ToString("C") </span>
			</div>

		</div>
		<div class="d-inline ml-3 mt-3">

			@{
				<img class="img-fluid" src="/Home/ViewImage/@Model.ImageId" />
			}

		</div>
	</div>
</div>


