@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <img src="~/static/img/logo.png"/>
    <p class="justify-content-center pt-2 pr-2">
        @Html.ActionLink("Grande Gift", "Index", "Home", new object { }, new { @class = "text-dark h2", @style= "text-decoration:none" })
    </p>

  


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="ml-1 collapse navbar-collapse" id="navbarCollapse">
	<ul class="navbar-nav">
		<li class="nav-item">  </li>
		@{


			@if (User.IsInRole("Customer"))

			{
				<li class="nav-item">
					<form class="form-inline" asp-area="" asp-controller="User" asp-action="Logout" method="post">
						<button class="btn btn-dark" type="submit">Logout</button>
					</form>
				</li>
				<li class="nav-item">@Html.ActionLink("Welcome  Back " + User.Identity.Name + "!", "Details", "User", new object { }, new { @class = "btn btn-transparent text-dark" })</li>
				<li class="nav-item">@Html.ActionLink("Cart", "Cart", "User", new object { }, new { @class = "btn btn-transparent text-dark" })</li>
				<li class="nav-item">@Html.ActionLink("Feedback", "Feedback", "User", new object { }, new { @class = "btn btn-transparent text-dark" })</li>

			}

			else

			{

				<li class="nav-item"> @Html.ActionLink("Login", "Login", "User", new object { }, new { @class = "btn btn-transparent text-dark" })</li>
				<li class="nav-item">@Html.ActionLink("Register", "Register", "User", new object { }, new { @class = "btn btn-transparent text-dark" })</li>
				<li class="nav-item"> @Html.ActionLink("Contact", "Contact", "Home", new object { }, new { @class = "btn btn-transparent text-dark" })</li>


			}
		}




	</ul>
    
            </div>