@model UserCartViewModel
@{
    ViewData["Title"] = "Cart";
}


<div class="container">
	<h2 class="text-center">@User.Identity.Name's Cart</h2>
	<div class="d-flex flex-column">


		@{
			if (Model.mapCartDatas != null)
			{

				foreach (var item in Model.mapCartDatas)
				{
					<div class="d-flex flex-row justify-content-between bg-white rounded shadow m-2 p-3 align-items-center">
						<div class="col">@item.HamperName</div>
						<form class="form-inline col-auto" method="post" asp-route="User/EditCart/@item.InvoiceId">
							<div class="d-flex flex-row justify-content-end">
								<label asp-for="@item.Quantity">Quantity:</label>

								<input class="form-control w-50 ml-3" asp-for="@item.Quantity" />

							</div>
							<button type="submit" name="edit" class="btn btn-primary ml-3">Edit Item</button>
						</form>

						<form>
							<input hidden asp-for="@item.HamperName" />
							<button type="submit">Delete</button>
						</form>
					</div>
				}
				<form class="row justify-content-center">

					<button class="btn btn-success">Purchase</button>
				</form>

			}

		}



	</div>


</div>
