@model UserDetailsViewModel
@{
    ViewData["Title"] = "Details";
    var Email = Model.Email;
    var DeliveryAddress = Model.DeliveryAddress;
    var PostCode = Model.PostCode;
    var State = Model.State;
    var PhoneNumber = Model.PhoneNumber;
}


<h2 class="text-center">Details</h2>
<div class="row justify-content-center">
    <form asp-controller="User" asp-action="Details" method="post">
        <div class="d-flex flex-column">
            <input hidden asp-for="@Model.UserName" />

            <div class="row form-group justify-content-around bg-white p-3 shadow-sm">
                <label class="col" asp-for="@Model.Email"></label>
                <input class="form-control" asp-for="@Model.Email" type="text" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="row form-group justify-content-center bg-white p-3 shadow-sm">
                @Html.ActionLink("Change Password Here", "ChangePassword", "User", new object { }, new { @class = "btn btn-danger" })
            </div>
            <div class="row form-group justify-content-around bg-white p-3  shadow-sm">
                <label class="col" asp-for="@Model.DeliveryAddress"></label>
                <input class="form-control" asp-for="@Model.DeliveryAddress" type="text" />
                <span asp-validation-for="DeliveryAddress"></span>
            </div>
            <div class="row form-group justify-content-around bg-white p-3 shadow-sm">
                <label class="col" asp-for="@Model.PostCode"></label>
                <input class="form-control" asp-for="@Model.PostCode" type="text" />
                <span asp-validation-for="PostCode"></span>
            </div>

            <div class="row form-group  justify-content-around bg-white p-3 shadow-sm">
                <label class="col" asp-for="@Model.State"></label>
                <label asp-for="@Model.State"></label>
                <select asp-for="@Model.State" asp-items="@Html.GetEnumSelectList<AddressEnum>()" class="custom-select">
                    <option selected="selected">Your State Address: </option>

                </select>
                <span asp-validation-for="State"></span>

            </div>
            <div class="row form-group  justify-content-around bg-white p-3  shadow-sm">
                <label class="col" asp-for="@Model.PhoneNumber"></label>

                <input class="form-control" asp-for="@Model.PhoneNumber" type="text" />
                <span asp-validation-for="PhoneNumber"></span>
            </div>
            @Html.AntiForgeryToken()
            <button type="submit" id="submit" class="btn btn-primary m-3">Save Changes</button>
            <button type="reset" id="cancel" class="btn btn-secondary m-3">Reset</button>


        </div>
    </form>
    <div asp-validation-summary="ModelOnly"></div>
</div>


