@model UserLoginViewModel
@{
    ViewData["Title"] = "Login";
}
<h3 class="text-center">Login</h3>
<div class="row justify-content-center p-3">

    <form class="w-75 card p-3" method="post" asp-controller="User" asp-action="Login">
        <div asp-validation-summary="ModelOnly"></div>
        
        <div class="form-group">
            <label asp-for="@Model.UserName"></label>
            <input asp-for="@Model.UserName" class="form-control" type="text">
            <span asp-validation-for="UserName"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Password"></label>
            <input asp-for="@Model.Password" class="form-control">
            <span asp-validation-for="Password"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.RememberMe"></label>
            <input class="form-check" asp-for="@Model.RememberMe" />
        </div>
        <div class="pl-3 row justify-content-start">
            <button class="col-auto btn btn-primary mr-2" type="submit">Login</button>
            @Html.AntiForgeryToken()
            <button class="col-auto btn btn-danger" type="reset">Reset</button>
        </div>
    </form>


</div>



