@model UserLoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center p-3">

    <form class="w-75 card p-3" method="post" asp-controller="User" asp-action="Login">
        <div asp-validation-summary="ModelOnly"></div>
        <h4 class="text-center card-title">Register</h4>
        <div class="form-group">
            <label asp-for="@Model.UserName">User Name</label>
            <input asp-for="@Model.UserName" class="form-control" type="text">
            <span asp-validation-for="UserName"></span>
        </div>
       
        <div class="form-group">
            <label asp-for="@Model.Password"></label>
            <input asp-for="@Model.Password" class="form-control">
            <span asp-validation-for="Password"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.RememberMe">Remember Me</label>
            <input class="form-check" asp-for="@Model.RememberMe" />
        </div>
        <input class="form-control btn btn-primary" type="submit" value="Register" />
        <button class="btn btn-danger" type="Reset">Reset</button>
    </form>


</div>



